#cotacao {
    align-items: center;
    scrollbar-width: none;
    position: relative;
    }
    #cotacao_moeda {
    overflow-x: hidden;
    background-color: #2b2d42!important;
    }
    ul {
      display: inline;
    }
    
    #divcotacao {
    background-color: #2b2d42;
    flex-shrink: 0;
    scrollbar-width: none;
    box-sizing: border-box;
    
    
    -moz-transform:translateX(100%);
    -webkit-transform:translateX(100%);	
    transform:translateX(100%);
    -moz-animation: divcotacao 15s linear infinite;
    -webkit-animation: divcotacao 15s linear infinite;
    animation: divcotacao 15s linear infinite;
    }
    
    
    @-moz-keyframes divcotacao {
      0%   { -moz-transform: translateX(100%); }
      100% { -moz-transform: translateX(-100%); }
     }
     @-webkit-keyframes divcotacao {
      0%   { -webkit-transform: translateX(100%); }
      100% { -webkit-transform: translateX(-100%); }
     }
     @keyframes divcotacao {
      0%   { 
      -moz-transform: translateX(100%); 
      -webkit-transform: translateX(100%);
      transform: translateX(100%); 		
      }
      100% { 
      -moz-transform: translateX(-100%); 
      -webkit-transform: translateX(-100%); 
      transform: translateX(-100%); 
      }
     }
    #divcotacao:hover {
      -moz-animation-play-state: paused;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
    }
    
    .feature {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      height: 3rem;
      width: 3rem;
      font-size: 1.5rem;
    }
    section#features.py-5 {
      padding-bottom: 0rem!important;
      padding-top: 4rem!important;
    }
    section.py-5 {
      padding-top: 2rem!important;
      
    }
    div.container.px-5.my-5 {
      padding-bottom: 3rem!important;
    }
    /* NAVBAR */
    .navbar {
      background-color: #2b2d42;
    }
    a.navbar-brand {
      font: 38px Mulish, sans-serif;
      color: #edf2f4!important;
    }
    .navbar-dark navbar-brand {
      font: 48px Mulish, sans-serif;
    }
    .navbar-dark .navbar-nav .nav-link {
      color: #edf2f4!important;
      font: 14px Mulish, sans-serif !important;
      text-transform: capitalize;
    }
    
    ul.dropdown-menu.dropdown-menu-end.show {
      color: #f1f1f3;
      border: solid 1px #2f3e46;
    }
    /* HEADER */
    #header_title {
      color: #2b2d42!important;
    }

    #header {
      background: #f1f1f3;
    }
    @keyframes backgroundTransition {
      0% {
          background-position:  0% 80%;
      }
      50% {
          background-position: 80% 100%;
      }
      100% {
          background-position: 0% 90%;
      }
    }
    
    
    #btn-solid-lg {
      background-color: #28C76F!important;
      color: white;
      font-weight: 500;
      border-radius: 25px;
      text-transform: capitalize;
      letter-spacing: 0.5px;
      transition: all .3s;
      overflow: hidden;
      font-family: 14 px, Mulish, sans-serif;
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
      -moz-transition: all 0.5s ease-in-out;
    }
    #btn-solid-lg:hover {
      -webkit-transform: scale(1.1);
      background-color: white!important;
      color: #28C76F;
      border: solid 1px #28c76f;
    }
    #bi-collection {
      background-color: #28C76F;
    }
    #bi-calculator {
      background-color: #28C76F;
    }
    #bi-question-circle {
      background-color: #28C76F;
    }
    #bi-folder {
      background-color: #28C76F;
    }
    #img_header {
      max-width: 600px;
      max-height: 400px;
      width: auto;
      height: auto;
    }

    div.card.h-100.shadow.border-0 {
      -moz-transition: all .3s ease-in-out; 
      border-radius: 10px;
    }
    div.card.h-100.shadow.border-0:hover {
      -webkit-transform: scale(1.1);
    }
    div.text-center {
      color: #2F3E46;
    }

    

    *,
    *::before,
    *::after{
        margin: 0;
        padding: 0;
        box-sizing: inherit;
    }

     /* body{
        font-family: 'Roboto', sans-serif;
        font-size: 10px;
        box-sizing: border-box;
    }  */


    section{
        width: 100%;
        height: 100vh;
        background-color: #f1f1f3;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .container{
        width: 100%;
        max-width: 80rem;
        margin: 0 auto;
        padding: 0 1.5rem;
    }
    div.accordion {
        padding-bottom: 70px;
    }

    .accordion-item{
        background-color: #283042;
        border-radius: .4rem;
        margin-bottom: 1rem;
        padding: 1rem;
        box-shadow: .5rem 2px .5rem rgba(0, 0, 0,.1);

    }

    .accordion-link{
        font-size: 1.6rem;
        color: black;
        font-weight: 500;
        text-decoration: none;
        background-color: #f1f1f3;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem;
    }

    .accordion-link i{
        color: black;
        padding: .5rem;

    }
    
    .accordion-link .ion-md-remove{
        display: none;
    }

    .answer{
    max-height: 0;
    overflow: hidden;
    position: relative;
    background-color:#f1f1f3;
    transition: max-height 650ms;
    font-weight: 100;
}

    .answer::before{
        content: "";
        position: absolute;
        width: .6rem;
        height: 90%;
        background-color: black;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }

    .answer p{
    color: black;
    font-size: 1.4rem;
    padding: 2rem;
    }

    .accordion-item:target .answer{
        max-height: 20rem;
    }



    /* ARTIGOS PAGINA */
    
    img {
      opacity: 0.175;
    }
    
    /* NOTICIAS */
    #news {
      background-color: #28c76f!important;
    }
    
    
    div.small.m-0 {
      color: #f1f1f3;
    }
    a.link-black.small {
      color: #f1f1f3!important;
    }
    div.py-5 {
      border-radius: 15px;
    }
    
    /*FOOTER*/
    #footer {
      background-color: #2b2d42!important;
    }